<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="BingMapsKey" value="Akp0h3kHWMQCyubpO7gRHa9_7ffBZSvy01tkXQh1C9N8-MdYnz_0QbQdpQFaa-_0"/>
    </appSettings>

</configuration>